<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Found Pets</h1>
    <%= link_to new_pet_path do %>
      <i class="fas fa-plus-square btn-light"></i>
    <% end %>
  </div>
  <div class="cards">
    <% @pets.each do |pet| %>
      <%= render 'pets/card', pet: pet %>
    <% end %>
  </div>
</div>
